/* Mengatur gaya dasar seluruh halaman web */
body {
    background-color: #f0f8ff;
    font-family: Arial, sans-serif;
    color: #333333;
}

/* Mengatur wadah paling luar agar teksnya rata tengah */
.wadah-utama {
    text-align: center;
}

/* Menghias bagian judul */
.judul h1 {
    color: #2c3e50;
}

/* Membuat tampilan kotak Biodata seperti "Kartu" */
.kartu-biodata {
    background-color: white;
    width: 90%;
    max-width: 400px;
    margin: auto;
    border-style: solid;
    border-color: #3498db;
    border-radius: 15px;
}

/* Menghias judul di dalam kartu */
.kartu-biodata h2 {
    background-color: #124363;
    color: white;
}

/* Menghias foto profil agar bentuknya lingkaran dan kekinian */
.bungkus-foto img {
    width: 120px;
    height: 120px;
    border-style: solid;
    border-color: #3498db;
    border-radius: 50%;
}

/* Mengatur teks biodata agar rapi dan rata kiri */
.informasi-diri {
    text-align: left;
    font-size: 14px;
}